Repository HoneyLink-Project/HoneyLink: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny, eslint, prettier, tsc, audit-native-deps

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  cargo-clippy: any of: \.rs$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  cargo-test: any of: \.rs$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  cargo-audit: any of: Cargo\.(toml|lock)$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  cargo-deny: any of: Cargo\.(toml|lock)$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  eslint: any of: \.(ts|tsx|js|jsx)$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  tsc: any of: \.(ts|tsx)$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  audit-native-deps: any of: ui/package\.json$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$


plan: Define Phase 7 Performance and Polish tasks
  TODO.md
Due: prettier

feat: Task 7.1.1 Criterion.rs Performance Benchmarking
  TODO.md
  crates/transport/Cargo.toml
  crates/transport/benches/transport_benchmarks.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny, prettier

docs: Task 7.2.1 Core Documentation Polish
  Cargo.toml
  README.md
  TODO.md
  crates/crypto/src/aead.rs
  crates/crypto/src/key_management.rs
  crates/discovery/src/manager.rs
  crates/discovery/src/mdns.rs
  crates/transport/benches/transport_benchmarks.rs
  crates/transport/src/manager.rs
  crates/transport/tests/integration_full_e2e.rs
  crates/transport/tests/integration_qos_transport.rs
  examples/Cargo.toml
  examples/file_transfer.rs
  examples/simple_chat.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny, prettier

feat: Task 7.3.1 Production Readiness (partial)
  crates/transport/src/quic.rs
  docs/PRODUCTION_READINESS.md
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

docs: Phase 7 Complete (Performance & Polish)
  TODO.md
Due: prettier

feat: Task 8.1.1 tracing Integration (Phase 8)
  Cargo.toml
  TODO.md
  crates/crypto/tests/proptest.proptest-regressions
  crates/discovery/Cargo.toml
  crates/telemetry/src/transport_telemetry_impl.rs
  crates/transport/Cargo.toml
  crates/transport/src/lib.rs
  crates/transport/src/logging.rs
  examples/Cargo.toml
  examples/file_transfer.rs
  examples/simple_chat.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny, prettier

feat: Task 8.2.1 TOML Configuration System (Phase 8)
  Cargo.toml
  TODO.md
  crates/config/Cargo.toml
  crates/config/src/lib.rs
  honeylink.toml.example
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny, prettier

feat: Task 8.3.1 GitHub Actions CI/CD Pipeline (Phase 8)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  TODO.md
Due: prettier

feat: Task 8.4.1 Security Audit & Compliance (Phase 8)
  TODO.md
  docs/SECURITY_AUDIT.md
Due: prettier

feat: Task 8.5.1 Beta Release Preparation (Phase 8 Complete)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  CHANGELOG.md
  Cargo.toml
  LICENSE-APACHE
  LICENSE-MIT
  TODO.md
  crates/config/Cargo.toml
  crates/core/Cargo.toml
  crates/crypto/Cargo.toml
  crates/discovery/Cargo.toml
  crates/experience/Cargo.toml
  crates/physical-adapter/Cargo.toml
  crates/policy-engine/Cargo.toml
  crates/qos-scheduler/Cargo.toml
  crates/session-orchestrator/Cargo.toml
  crates/telemetry/Cargo.toml
  crates/transport/Cargo.toml
  examples/Cargo.toml
Due: cargo-audit, cargo-deny, prettier

test: Verify beta release build and tests on WSL Linux
  TODO.md
Due: prettier

feat: Task 9.1.1 Certificate Pinning Implementation (Phase 9)
  TODO.md
  crates/config/src/lib.rs
  crates/transport/Cargo.toml
  crates/transport/src/cert_pinning.rs
  crates/transport/src/lib.rs
  crates/transport/src/quic.rs
  honeylink.toml.example
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny, prettier

feat: Task 9.2.1 OS Keychain Integration (Phase 9)
  Cargo.toml
  TODO.md
  crates/keychain/Cargo.toml
  crates/keychain/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny, prettier
