Repository HoneyLink-Project/HoneyLink: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny, eslint, prettier, tsc, audit-native-deps

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  args:
  - --all
  - --
  - --check
  language: system
  pass_filenames: false
  description: Format Rust code with rustfmt

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  args:
  - --workspace
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false
  description: Lint Rust code with clippy

cargo-test:
  name: cargo test
  entry: cargo test
  args:
  - --workspace
  - --all-features
  language: system
  pass_filenames: false
  stages:
  - push
  description: Run Rust tests

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  description: Audit Rust dependencies for vulnerabilities

cargo-deny:
  name: cargo deny
  entry: cargo deny
  args:
  - check
  language: system
  pass_filenames: false
  description: Check Rust dependency licenses

eslint:
  name: eslint
  entry: sh -c 'cd ui && pnpm exec eslint'
  args:
  - --max-warnings=0
  language: system
  description: Lint TypeScript/JavaScript with ESLint

prettier:
  name: prettier
  entry: sh -c 'cd ui && pnpm exec prettier'
  args:
  - --check
  language: system
  description: Format code with Prettier

tsc:
  name: tsc
  entry: sh -c 'cd ui && pnpm exec tsc'
  args:
  - --noEmit
  language: system
  pass_filenames: false
  description: TypeScript type checking

audit-native-deps:
  name: audit native dependencies
  entry: node scripts/audit-native-deps.js
  language: system
  pass_filenames: false
  description: Check for C/C++ native dependencies in npm packages

Add key rotation module
  crates/crypto/src/rotation.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add digital signing module
  crates/crypto/src/signing.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add key generation CLI utility
  crates/crypto/src/bin/keygen.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add policy engine crate Cargo manifest
  crates/policy-engine/Cargo.toml
Due: cargo-audit, cargo-deny

Add policy engine library entry point
  crates/policy-engine/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add policy engine type definitions
  crates/policy-engine/src/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add policy engine error types
  crates/policy-engine/src/error.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add policy management implementation
  crates/policy-engine/src/policy.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add policy profile management
  crates/policy-engine/src/profile.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add policy preset configurations
  crates/policy-engine/src/presets.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add policy event bus implementation
  crates/policy-engine/src/event_bus.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add session orchestrator crate Cargo manifest
  crates/session-orchestrator/Cargo.toml
Due: cargo-audit, cargo-deny

Add session orchestrator library entry point
  crates/session-orchestrator/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add session orchestrator error types
  crates/session-orchestrator/src/error.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add session state machine implementation
  crates/session-orchestrator/src/state_machine.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add session management implementation
  crates/session-orchestrator/src/session.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add session persistence layer
  crates/session-orchestrator/src/persistence.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add session metrics tracking
  crates/session-orchestrator/src/metrics.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add session versioning system
  crates/session-orchestrator/src/versioning.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add idempotency management system
  crates/session-orchestrator/src/idempotency.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add session event bus implementation
  crates/session-orchestrator/src/event_bus.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add transport crate Cargo manifest
  crates/transport/Cargo.toml
Due: cargo-audit, cargo-deny

Add transport library entry point
  crates/transport/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add Weighted Fair Queuing implementation
  crates/transport/src/wfq.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add Forward Error Correction implementation
  crates/transport/src/fec.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add QoS scheduler crate Cargo manifest
  crates/qos-scheduler/Cargo.toml
Due: cargo-audit, cargo-deny

Add QoS scheduler library entry point
  crates/qos-scheduler/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add QoS scheduler implementation
  crates/qos-scheduler/src/scheduler.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add telemetry crate Cargo manifest
  crates/telemetry/Cargo.toml
Due: cargo-audit, cargo-deny

Add telemetry library entry point
  crates/telemetry/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add telemetry collector implementation
  crates/telemetry/src/collector.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add physical adapter crate Cargo manifest
  crates/physical-adapter/Cargo.toml
Due: cargo-audit, cargo-deny

Add physical adapter library entry point
  crates/physical-adapter/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add physical adapter trait definitions
  crates/physical-adapter/src/traits.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add physical adapter implementation
  crates/physical-adapter/src/adapter.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add experience layer crate Cargo manifest
  crates/experience/Cargo.toml
Due: cargo-audit, cargo-deny

Add experience layer library entry point
  crates/experience/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add experience layer SDK implementation
  crates/experience/src/sdk.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add WASM bindings for web integration
  crates/experience/src/wasm.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add UI package configuration
  ui/package.json
Due: prettier, audit-native-deps

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  cargo-clippy: any of: \.rs$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  cargo-test: any of: \.rs$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  cargo-audit: any of: Cargo\.(toml|lock)$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  cargo-deny: any of: Cargo\.(toml|lock)$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  eslint: any of: \.(ts|tsx|js|jsx)$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  tsc: any of: \.(ts|tsx)$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  audit-native-deps: any of: ui/package\.json$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

