Repository HoneyLink-Project/HoneyLink: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny, eslint, prettier, tsc, audit-native-deps

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  cargo-clippy: any of: \.rs$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  cargo-test: any of: \.rs$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  cargo-audit: any of: Cargo\.(toml|lock)$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  cargo-deny: any of: Cargo\.(toml|lock)$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  eslint: any of: \.(ts|tsx|js|jsx)$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  tsc: any of: \.(ts|tsx)$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  audit-native-deps: any of: ui/package\.json$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$


chore: add detect-secrets baseline
  .secrets.baseline
Due: none

chore: add markdownlint configuration
  .markdownlint.json
Due: prettier

chore: add environment variables template
  .env.example
Due: none

docs: add project README
  README.md
Due: prettier

docs: add contributing guidelines
  CONTRIBUTING.md
Due: prettier

docs: add CODEOWNERS file
  CODEOWNERS
Due: none

docs: add TODO list
  TODO.md
Due: prettier

ci: add Rust CI workflow
  .github/workflows/rust-ci.yml
Due: none

ci: add UI CI workflow
  .github/workflows/ui-ci.yml
Due: none

docs: add Rust setup guide
  docs/RUST_SETUP.md
Due: prettier

docs: add Node.js setup guide
  docs/NODE_SETUP.md
Due: prettier

docs: add WSL setup guide
  docs/WSL_SETUP.md
Due: prettier

docs: add WSL quickstart guide
  docs/WSL_QUICKSTART.md
Due: prettier

docs: add WSL notes and troubleshooting
  docs/WSL_NOTES.md
Due: prettier

scripts: add WSL setup automation script
  scripts/setup-wsl.sh
Due: none

scripts: add native dependencies audit script
  scripts/audit-native-deps.js
Due: eslint, prettier

docs(spec): add specification README
  spec/README.md
Due: prettier

docs(spec): add requirements specification
  spec/requirements.md
Due: prettier

docs(spec): add project roadmap
  spec/roadmap.md
Due: prettier

docs(spec): add roadmap implementation details
  spec/roadmap-implementation.md
Due: prettier

docs(spec): add roadmap import data
  spec/roadmap-import.csv
Due: none

docs(spec): add final report
  spec/final-report.md
Due: prettier

docs(spec): add architecture overview
  spec/architecture/overview.md
Due: prettier

docs(spec): add dataflow architecture
  spec/architecture/dataflow.md
Due: prettier

docs(spec): add interface specifications
  spec/architecture/interfaces.md
Due: prettier

docs(spec): add dependency specifications
  spec/architecture/dependencies.md
Due: prettier

docs(spec): add tech stack documentation
  spec/architecture/tech-stack.md
Due: prettier

docs(spec): add control plane API specification
  spec/api/control-plane.md
Due: prettier

docs(spec): add session orchestrator module spec
  spec/modules/session-orchestrator.md
Due: prettier

docs(spec): add transport abstraction module spec
  spec/modules/transport-abstraction.md
Due: prettier

Add core crate Cargo manifest
  crates/core/Cargo.toml
Due: cargo-audit, cargo-deny

Add core library entry point
  crates/core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add core type definitions
  crates/core/src/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add core error handling types
  crates/core/src/error.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add core trait definitions
  crates/core/src/traits.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add core event system
  crates/core/src/events.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add crypto crate Cargo manifest
  crates/crypto/Cargo.toml
Due: cargo-audit, cargo-deny

Add crypto library entry point
  crates/crypto/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add cryptographic key management module
  crates/crypto/src/key_management.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add key derivation module
  crates/crypto/src/key_derivation.rs
Due: cargo-fmt, cargo-clippy, cargo-test
