Repository HoneyLink-Project/HoneyLink: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny, eslint, prettier, tsc, audit-native-deps

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  args:
  - --all
  - --
  - --check
  language: system
  pass_filenames: false
  description: Format Rust code with rustfmt

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  args:
  - --workspace
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false
  description: Lint Rust code with clippy

cargo-test:
  name: cargo test
  entry: cargo test
  args:
  - --workspace
  - --all-features
  language: system
  pass_filenames: false
  stages:
  - push
  description: Run Rust tests

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  description: Audit Rust dependencies for vulnerabilities

cargo-deny:
  name: cargo deny
  entry: cargo deny
  args:
  - check
  language: system
  pass_filenames: false
  description: Check Rust dependency licenses

eslint:
  name: eslint
  entry: sh -c 'cd ui && pnpm exec eslint'
  args:
  - --max-warnings=0
  language: system
  description: Lint TypeScript/JavaScript with ESLint

prettier:
  name: prettier
  entry: sh -c 'cd ui && pnpm exec prettier'
  args:
  - --check
  language: system
  description: Format code with Prettier

tsc:
  name: tsc
  entry: sh -c 'cd ui && pnpm exec tsc'
  args:
  - --noEmit
  language: system
  pass_filenames: false
  description: TypeScript type checking

audit-native-deps:
  name: audit native dependencies
  entry: node scripts/audit-native-deps.js
  language: system
  pass_filenames: false
  description: Check for C/C++ native dependencies in npm packages

Add English authentication specification
  spec-en/security/auth.md
Due: prettier

Add English encryption specification
  spec-en/security/encryption.md
Due: prettier

Add English security specifications
  spec-en/security/key-management.md
  spec-en/security/vulnerability.md
Due: prettier

Add English documentation templates
  spec-en/templates/document-quality-dod-review.md
  spec-en/templates/module-template.md
  spec-en/templates/test-template.md
  spec-en/templates/ui-template.md
Due: prettier

Add English testing specifications
  spec-en/testing/e2e-tests.md
  spec-en/testing/integration-tests.md
  spec-en/testing/metrics.md
  spec-en/testing/unit-tests.md
Due: prettier

Add English UI specifications
  spec-en/ui/accessibility.md
  spec-en/ui/animations.md
  spec-en/ui/overview.md
  spec-en/ui/visual-design.md
  spec-en/ui/wireframes.md
Due: prettier

feat(ui): implement WF-01 device list and WF-02 pairing details (Task 4.3 Part 1)
  docs/TASK_4.3_PART1_COMPLETION_REPORT.md
  ui/src/pages/DeviceListPage.tsx
  ui/src/pages/PairingDetailsPage.tsx
Due: eslint, prettier, tsc

feat(ui): implement WF-03/04/05 screens, complete all 5 wireframes (Task 4.3 Part 2)
  docs/TASK_4.3_PART2_COMPLETION_REPORT.md
  ui/src/pages/MetricsHubPage.tsx
  ui/src/pages/PolicyBuilderPage.tsx
  ui/src/pages/StreamDashboardPage.tsx
Due: eslint, prettier, tsc

feat(ui): integrate recharts charts and Control Plane API (Task 4.3 Part 3)
  ui/package-lock.json
  ui/package.json
  ui/src/api/client.ts
  ui/src/api/hooks.ts
  ui/src/pages/MetricsHubPage.tsx
  ui/src/pages/StreamDashboardPage.tsx
  ui/src/router.tsx
Due: eslint, prettier, tsc, audit-native-deps

docs(ui): add Task 4.3 Part 3 completion report
  docs/TASK_4.3_PART3_COMPLETION_REPORT.md
Due: prettier

feat(ui): integrate i18n in DeviceListPage (Phase 1 part 1)
  ui/src/App.tsx
  ui/src/api/hooks.ts
  ui/src/i18n.ts
  ui/src/locales/en.json
  ui/src/locales/es.json
  ui/src/locales/ja.json
  ui/src/locales/zh.json
  ui/src/pages/DeviceListPage.tsx
Due: eslint, prettier, tsc

feat(ui): add pairing translation keys (Phase 1 preparation)
  ui/src/locales/ja.json
Due: prettier

docs(ui): add Phase 1 progress report (14% complete)
  docs/TASK_4.3_PART_5_PHASE_1_PROGRESS.md
Due: prettier

feat(ui): integrate i18n in PairingDetailsPage (Phase 1b-1)
  ui/src/locales/en.json
  ui/src/locales/es.json
  ui/src/locales/zh.json
  ui/src/pages/DeviceListPage.tsx
  ui/src/pages/PairingDetailsPage.tsx
Due: eslint, prettier, tsc

feat(ui): complete hooks.ts toast internationalization (Phase 1b-2)
  ui/src/api/hooks.ts
Due: eslint, prettier, tsc

feat(ui): internationalize StreamDashboardPage (Phase 1b-3, 1/3)
  ui/src/locales/en.json
  ui/src/locales/es.json
  ui/src/locales/ja.json
  ui/src/locales/zh.json
  ui/src/pages/PairingDetailsPage.tsx
  ui/src/pages/StreamDashboardPage.tsx
Due: eslint, prettier, tsc

feat(ui): internationalize MetricsHubPage (Phase 1b-3, 2/3)
  ui/src/locales/en.json
  ui/src/locales/es.json
  ui/src/locales/ja.json
  ui/src/locales/zh.json
  ui/src/pages/MetricsHubPage.tsx
Due: eslint, prettier, tsc

feat(ui): internationalize PolicyBuilderPage (Phase 1b-3, 3/3)
  ui/src/locales/en.json
  ui/src/locales/es.json
  ui/src/locales/ja.json
  ui/src/locales/zh.json
  ui/src/pages/MetricsHubPage.tsx
  ui/src/pages/PolicyBuilderPage.tsx
  ui/src/pages/StreamDashboardPage.tsx
Due: eslint, prettier, tsc

docs(ui): add Phase 1 completion report (Task 4.3 Part 5)
  ui/PHASE_1_COMPLETE_REPORT.md
Due: prettier

refactor(ui): replace manual validation with react-hook-form + zod (Phase 2)
  ui/TASK_4.3_PART_5_PHASE_1_COMPLETE.md
  ui/package-lock.json
  ui/package.json
  ui/src/pages/PolicyBuilderPage.tsx
  ui/src/router.tsx
Due: eslint, prettier, tsc, audit-native-deps

docs(ui): add Phase 2 completion summary (react-hook-form integration)
  ui/PHASE_2_COMPLETE_SUMMARY.md
Due: prettier

test(ui): add Vitest test infrastructure (Phase 3, partial)
  ui/src/test/mock-data.ts
  ui/src/test/setup.ts
  ui/src/test/test-utils.tsx
  ui/vitest.config.ts
Due: eslint, prettier, tsc

docs(ui): add Phase 3 progress report + test files
  ui/PHASE_3_PROGRESS_REPORT.md
  ui/package-lock.json
  ui/package.json
  ui/src/api/hooks.test.tsx
Due: eslint, prettier, tsc, audit-native-deps

fix(ui): recreate hooks.ts with UTF-8 encoding + fix useStreams test
  ui/src/api/hooks.test.tsx
  ui/src/api/hooks.ts
Due: eslint, prettier, tsc

test(ui): complete Phase 3 Vitest unit tests (84 tests, 100% passing)
  docs/SECTION_3_COMPLETION_REPORT.md
  docs/TASK_3.3_COMPLETION_REPORT.md
  docs/TASK_3.4_COMPLETION_REPORT.md
  docs/TASK_3.5_COMPLETION_REPORT.md
  docs/TASK_4.1_COMPLETION_REPORT.md
  docs/TASK_4.2_COMPLETION_REPORT.md
  docs/TASK_4.3_PART1_COMPLETION_REPORT.md
  docs/TASK_4.3_PART2_COMPLETION_REPORT.md
  docs/TASK_4.3_PART3_COMPLETION_REPORT.md
  docs/TASK_4.3_PART_4_COMPLETION_REPORT.md
  docs/TASK_4.3_PART_5_PHASE_1_PROGRESS.md
  ui/src/api/hooks.test.tsx
  ui/src/components/ui/Button.test.tsx
  ui/src/components/ui/Card.test.tsx
  ui/src/components/ui/Input.test.tsx
  ui/src/components/ui/Select.test.tsx
  ui/src/i18n.test.ts
  ui/src/pages/PolicyBuilderPage.test.tsx
  ui/src/pages/PolicyBuilderPage.tsx
  ui/src/router.tsx
  ui/src/test/mock-data.ts
  ui/src/test/test-utils.tsx
  ui/vitest.config.ts
Due: eslint, prettier, tsc

test(e2e): install Playwright and setup E2E infrastructure
  ui/e2e/infrastructure.test.ts
  ui/package-lock.json
  ui/package.json
  ui/playwright-report/index.html
  ui/playwright.config.ts
  ui/src/components/ui/Button.test.tsx
  ui/src/components/ui/Card.test.tsx
  ui/src/components/ui/Input.test.tsx
  ui/src/components/ui/Select.test.tsx
  ui/src/i18n.test.ts
  ui/src/pages/PolicyBuilderPage.test.tsx
  ui/test-results/.last-run.json
Due: eslint, prettier, tsc, audit-native-deps

test(e2e): create Page Object Models and API mock fixtures
  ui/e2e/fixtures/api-handlers.ts
  ui/e2e/fixtures/mock-data.ts
  ui/e2e/pages/index.ts
  ui/package-lock.json
  ui/package.json
  ui/src/pages/PolicyBuilderPage.test.tsx
Due: eslint, prettier, tsc, audit-native-deps

test(e2e): add language switching E2E test
  ui/e2e/language-switching.test.ts
Due: eslint, prettier, tsc

docs(e2e): create comprehensive E2E test status documentation
  ui/e2e/E2E_TEST_STATUS.md
Due: prettier

docs: create comprehensive Task 4.3 completion report
  TASK_4.3_COMPLETE_REPORT.md
Due: prettier

fix(test): exclude E2E tests from Vitest runner
  ui/vitest.config.ts
Due: eslint, prettier, tsc

feat(governance): implement automated attendance reminder system
  .github/ISSUE_TEMPLATE/補完レビュー計画書.md
  .github/workflows/attendance-reminder.yml
  scripts/.env.attendance.example
  scripts/attendance-reminder.ts
  scripts/package-lock.json
  scripts/package.json
  spec/notes/attendance-system.md
  ui/e2e/device-pairing.test.ts
  ui/e2e/device-scan.test.ts
  ui/e2e/language-switching.test.ts
  ui/e2e/metrics-monitoring.test.ts
  ui/e2e/policy-creation.test.ts
  ui/e2e/stream-priority.test.ts
Due: eslint, prettier, tsc

feat(session-orchestrator): integrate telemetry for SLI monitoring
  crates/session-orchestrator/Cargo.toml
  crates/session-orchestrator/src/lib.rs
  crates/session-orchestrator/src/telemetry.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny

feat(policy-engine): integrate telemetry for SLI monitoring
  crates/policy-engine/Cargo.toml
  crates/policy-engine/src/lib.rs
  crates/policy-engine/src/telemetry.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny

build: configure GNU toolchain for Windows (avoid MSVC linker)
  .cargo/config.toml
  rust-toolchain.toml
  scripts/attendance-reminder.ts
  spec/notes/attendance-system.md
Due: eslint, prettier, tsc

fix(crypto,transport): resolve WSL compilation errors
  Cargo.toml
  crates/crypto/Cargo.toml
  crates/crypto/src/aead.rs
  crates/crypto/src/key_agreement.rs
  crates/crypto/src/pop_token.rs
  crates/transport/src/fec.rs
  crates/transport/src/retry.rs
  crates/transport/src/wfq.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny

fix(telemetry): resolve OpenTelemetry 0.26 compatibility issues
  Cargo.toml
  backend/Cargo.toml
  backend/src/main.rs
  crates/crypto/src/key_agreement.rs
  crates/policy-engine/src/telemetry.rs
  crates/session-orchestrator/src/telemetry.rs
  crates/telemetry/Cargo.toml
  crates/telemetry/src/alert.rs
  crates/telemetry/src/collector.rs
  crates/telemetry/src/crypto_metrics.rs
  crates/telemetry/src/otel.rs
  crates/telemetry/src/storage.rs
  crates/telemetry/src/transport_events.rs
  crates/transport/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny

docs(todo): update telemetry integration task status
  TODO.md
Due: prettier

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  cargo-clippy: any of: \.rs$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  cargo-test: any of: \.rs$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  cargo-audit: any of: Cargo\.(toml|lock)$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  cargo-deny: any of: Cargo\.(toml|lock)$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  eslint: any of: \.(ts|tsx|js|jsx)$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  tsc: any of: \.(ts|tsx)$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  audit-native-deps: any of: ui/package\.json$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

