Repository HoneyLink-Project/HoneyLink: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny, eslint, prettier, tsc, audit-native-deps

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  args:
  - --all
  - --
  - --check
  language: system
  pass_filenames: false
  description: Format Rust code with rustfmt

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  args:
  - --workspace
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false
  description: Lint Rust code with clippy

cargo-test:
  name: cargo test
  entry: cargo test
  args:
  - --workspace
  - --all-features
  language: system
  pass_filenames: false
  stages:
  - push
  description: Run Rust tests

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  description: Audit Rust dependencies for vulnerabilities

cargo-deny:
  name: cargo deny
  entry: cargo deny
  args:
  - check
  language: system
  pass_filenames: false
  description: Check Rust dependency licenses

eslint:
  name: eslint
  entry: sh -c 'cd ui && pnpm exec eslint'
  args:
  - --max-warnings=0
  language: system
  description: Lint TypeScript/JavaScript with ESLint

prettier:
  name: prettier
  entry: sh -c 'cd ui && pnpm exec prettier'
  args:
  - --check
  language: system
  description: Format code with Prettier

tsc:
  name: tsc
  entry: sh -c 'cd ui && pnpm exec tsc'
  args:
  - --noEmit
  language: system
  pass_filenames: false
  description: TypeScript type checking

audit-native-deps:
  name: audit native dependencies
  entry: node scripts/audit-native-deps.js
  language: system
  pass_filenames: false
  description: Check for C/C++ native dependencies in npm packages

Add TypeScript configuration for UI
  ui/tsconfig.json
Due: prettier

Add TypeScript configuration for Node tooling
  ui/tsconfig.node.json
Due: prettier

Add Vite build configuration
  ui/vite.config.ts
Due: eslint, prettier, tsc

Add TailwindCSS configuration
  ui/tailwind.config.js
Due: eslint, prettier

Add PostCSS configuration
  ui/postcss.config.js
Due: eslint, prettier

Add ESLint configuration
  ui/eslint.config.js
Due: eslint, prettier

Add Prettier configuration
  ui/.prettierrc.json
Due: prettier

Add HTML entry point for UI
  ui/index.html
Due: none

Add Vite environment type definitions
  ui/src/vite-env.d.ts
Due: eslint, prettier, tsc

Add React application entry point
  ui/src/main.tsx
Due: eslint, prettier, tsc

Add global CSS styles
  ui/src/index.css
Due: prettier

Add main React App component
  ui/src/App.tsx
Due: eslint, prettier, tsc

Add CI/CD deployment specification
  spec/deployment/ci-cd.md
Due: prettier

Add infrastructure deployment specification
  spec/deployment/infrastructure.md
Due: prettier

Add rollback deployment specification
  spec/deployment/rollback.md
Due: prettier

Add crypto trust anchor module specification
  spec/modules/crypto-trust-anchor.md
Due: prettier

Add experience layer module specification
  spec/modules/experience-layer.md
Due: prettier

Add physical adapter module specification
  spec/modules/physical-adapter.md
Due: prettier

Add policy profile engine module specification
  spec/modules/policy-profile-engine.md
Due: prettier

Add QoS scheduler module specification
  spec/modules/qos-scheduler.md
Due: prettier

Add telemetry insights module specification
  spec/modules/telemetry-insights.md
Due: prettier

Add project attendance tracking system
  spec/notes/attendance-system.md
Due: prettier

Add critical path analysis documentation
  spec/notes/critical-path-analysis.md
Due: prettier

Add architectural decision log
  spec/notes/decision-log.md
Due: prettier

Add project governance documentation
  spec/notes/governance.md
Due: prettier

Add meeting notes documentation
  spec/notes/meeting-notes.md
Due: prettier

Add project phase completion criteria
  spec/notes/phase-criteria.md
Due: prettier

Add review completion checklist
  spec/notes/review-completion-checklist.md
Due: prettier

Add project schedule dashboard
  spec/notes/schedule-dashboard.md
Due: prettier

Add performance benchmark specification
  spec/performance/benchmark.md
Due: prettier

Add scalability specification
  spec/performance/scalability.md
Due: prettier

Add authentication specification
  spec/security/auth.md
Due: prettier

Add encryption specification
  spec/security/encryption.md
Due: prettier

Add key management specification
  spec/security/key-management.md
Due: prettier

Add vulnerability management specification
  spec/security/vulnerability.md
Due: prettier

Add document quality definition of done review template
  spec/templates/document-quality-dod-review.md
Due: prettier

Add module documentation template
  spec/templates/module-template.md
Due: prettier

Add test documentation template
  spec/templates/test-template.md
Due: prettier

Add UI documentation template
  spec/templates/ui-template.md
Due: prettier

Add end-to-end testing specification
  spec/testing/e2e-tests.md
Due: prettier

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  cargo-clippy: any of: \.rs$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  cargo-test: any of: \.rs$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  cargo-audit: any of: Cargo\.(toml|lock)$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  cargo-deny: any of: Cargo\.(toml|lock)$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  eslint: any of: \.(ts|tsx|js|jsx)$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  tsc: any of: \.(ts|tsx)$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  audit-native-deps: any of: ui/package\.json$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

