Repository HoneyLink-Project/HoneyLink: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny, eslint, prettier, tsc, audit-native-deps

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  cargo-clippy: any of: \.rs$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  cargo-test: any of: \.rs$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  cargo-audit: any of: Cargo\.(toml|lock)$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  cargo-deny: any of: Cargo\.(toml|lock)$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  eslint: any of: \.(ts|tsx|js|jsx)$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  tsc: any of: \.(ts|tsx)$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$

  audit-native-deps: any of: ui/package\.json$, but not: (?x)^(
  .*/target/.*|
  .*/dist/.*|
  .*/build/.*|
  .*/node_modules/.*|
  .*\.min\.js|
  .*\.bundle\.js|
  .*pnpm-lock\.yaml|
  .*package-lock\.json|
  .*Cargo\.lock
)$


feat(telemetry): integrate transport layer telemetry
  crates/telemetry/Cargo.toml
  crates/telemetry/src/lib.rs
  crates/telemetry/src/transport_telemetry_impl.rs
  crates/transport/src/lib.rs
  crates/transport/src/telemetry.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny

docs(todo): mark transport telemetry integration as completed
  TODO.md
Due: prettier

feat(telemetry): integrate crypto module instrumentation
  crates/crypto/src/lib.rs
  crates/crypto/src/telemetry.rs
  crates/telemetry/Cargo.toml
  crates/telemetry/src/crypto_telemetry_impl.rs
  crates/telemetry/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny

docs(todo): mark crypto instrumentation as completed
  TODO.md
Due: prettier

fix(backend): add Serialize/Debug derives for policy structs
  backend/Cargo.toml
  backend/src/middleware/auth.rs
  backend/src/routes/policies.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny

docs(todo): note backend sqlx blocker and partial fix
  TODO.md
Due: prettier

feat(infra): setup OTLP Collector observability stack
  infrastructure/README.md
  infrastructure/docker-compose.observability.yml
  infrastructure/generate-certs.ps1
  infrastructure/generate-certs.sh
  infrastructure/grafana/provisioning/dashboards/dashboards.yml
  infrastructure/grafana/provisioning/datasources/datasources.yml
  infrastructure/loki-config.yaml
  infrastructure/otel-collector-config.yaml
  infrastructure/prometheus.yml
Due: prettier

docs(todo): mark OTLP Collector setup as completed
  TODO.md
Due: prettier

chore: remove obsolete TASK_4.3_COMPLETE_REPORT.md
  TASK_4.3_COMPLETE_REPORT.md
Due: prettier

feat(db): setup TimescaleDB development environment
  README.md
  docs/DATABASE_SETUP.md
  infrastructure/db-init/01-init-timescaledb.sh
  infrastructure/docker-compose.db.yml
Due: prettier

docs(todo): mark TimescaleDB setup as completed (infrastructure)
  TODO.md
Due: prettier

refactor: rewrite TODO.md for P2P implementation roadmap
  TODO.md
  backend/Cargo.toml
  backend/migrations/20250101000001_initial_schema.sql
  backend/migrations/20250102000001_sessions_schema.sql
  backend/src/config.rs
  backend/src/db/audit.rs
  backend/src/db/devices.rs
  backend/src/db/mod.rs
  backend/src/db/pairing.rs
  backend/src/db/sessions.rs
  backend/src/error.rs
  backend/src/main.rs
  backend/src/middleware/auth.rs
  backend/src/middleware/cors.rs
  backend/src/middleware/mod.rs
  backend/src/middleware/mtls.rs
  backend/src/middleware/rate_limit.rs
  backend/src/middleware/tracing.rs
  backend/src/routes/audit.rs
  backend/src/routes/devices.rs
  backend/src/routes/mod.rs
  backend/src/routes/policies.rs
  backend/src/routes/sessions.rs
  backend/src/types.rs
  backend/src/validation.rs
  backend/src/vault.rs
  backend/tests/integration_tests.rs
  docs/DATABASE_SETUP.md
  docs/VAULT_SETUP.md
  infrastructure/db-init/01-init-timescaledb.sh
  infrastructure/docker-compose.db.yml
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny, prettier

refactor: delete spec/api/control-plane.md (server-centric design)
  .env.example
  Cargo.toml
  README.md
  TODO-old-server.md
  TODO.md
  spec/README-broken.md
  spec/README.md
  spec/api/control-plane-old-server.md
  spec/architecture/overview.md
  spec/modules/experience-layer.md
  spec/notes/phase-criteria.md
  spec/requirements-old-server.md
  spec/requirements.md
  spec/security/key-management.md
  spec/templates/document-quality-dod-review.md
Due: cargo-audit, cargo-deny, prettier

refactor: rewrite spec/deployment/infrastructure.md for P2P client distribution
  spec/deployment/infrastructure-old-server.md
  spec/deployment/infrastructure.md
Due: prettier

refactor: rewrite 8 module specs for P2P local-first design
  spec/modules/crypto-trust-anchor-old-server.md
  spec/modules/experience-layer-old-server.md
  spec/modules/physical-adapter-old-server.md
  spec/modules/policy-profile-engine-old-server.md
  spec/modules/qos-scheduler-old-server.md
  spec/modules/session-orchestrator-old-server.md
  spec/modules/telemetry-insights-old-server.md
  spec/modules/transport-abstraction-old-server.md
Due: prettier

refactor: rewrite spec/security/auth.md for P2P TOFU trust model
  spec/security/auth-old-server.md
  spec/security/auth.md
Due: prettier

docs: add P2P design documentation to crates/
  crates/README.md
  crates/physical-adapter/README.md
  crates/telemetry/README.md
Due: prettier

refactor: remove all server-centric references from remaining spec files (12 files updated)
  spec/deployment/infrastructure.md
  spec/modules/crypto-trust-anchor.md
  spec/modules/experience-layer.md
  spec/modules/physical-adapter.md
  spec/modules/policy-profile-engine.md
  spec/modules/qos-scheduler.md
  spec/modules/session-orchestrator.md
  spec/modules/telemetry-insights.md
  spec/modules/transport-abstraction.md
  spec/notes/critical-path-analysis.md
  spec/notes/governance.md
  spec/notes/phase-criteria.md
  spec/notes/schedule-dashboard.md
  spec/roadmap-implementation.md
  spec/security/encryption.md
  spec/security/key-management-old-server.md
  spec/security/key-management.md
  spec/security/vulnerability.md
Due: prettier

refactor: remove final 5G Modem HTTP Server and mTLS references
  spec/modules/physical-adapter.md
  spec/modules/telemetry-insights.md
Due: prettier

feat: implement Phase 1.1 mDNS Discovery (Task 1.1.1 完了)
  Cargo.toml
  TODO.md
  crates/discovery/Cargo.toml
  crates/discovery/README.md
  crates/discovery/examples/simple_discovery.rs
  crates/discovery/src/error.rs
  crates/discovery/src/lib.rs
  crates/discovery/src/mdns.rs
  crates/discovery/src/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny, prettier

fix: mDNS discovery compilation errors
  crates/discovery/src/lib.rs
  crates/discovery/src/mdns.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: implement Task 1.1.2 - Network monitoring and auto re-announcement
  TODO.md
  crates/discovery/Cargo.toml
  crates/discovery/README.md
  crates/discovery/src/lib.rs
  crates/discovery/src/mdns.rs
  crates/discovery/src/network_monitor.rs
  spec/notes/critical-path-analysis.md
  spec/notes/schedule-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny, prettier

feat: add BLE discovery skeleton (Phase 1.2 foundation)
  TODO.md
  crates/discovery/README.md
  crates/discovery/src/ble.rs
  crates/discovery/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

feat: implement Task 1.2.1 - GATT protocol for BLE discovery (Phase 1 COMPLETE)
  TODO.md
  crates/discovery/Cargo.toml
  crates/discovery/README.md
  crates/discovery/src/gatt.rs
  crates/discovery/src/lib.rs
  crates/discovery/src/mdns.rs
  crates/discovery/src/network_monitor.rs
  crates/discovery/src/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny, prettier

feat: implement unified Discovery Manager (Task 1.3.1 COMPLETE)
  TODO.md
  crates/discovery/Cargo.toml
  crates/discovery/README.md
  crates/discovery/src/ble.rs
  crates/discovery/src/lib.rs
  crates/discovery/src/manager.rs
  crates/discovery/src/mdns.rs
  crates/discovery/src/protocol.rs
  crates/discovery/src/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny, prettier

docs: update TODO.md to reflect Phase 2 & 3 completion
  TODO.md
Due: prettier

fix: resolve TypeScript type errors and update Rust toolchain
  crates/discovery/src/manager.rs
  rust-toolchain.toml
  ui/src/pages/MetricsHubPage.tsx
  ui/src/pages/StreamDashboardPage.tsx
  ui/tsconfig.json
Due: cargo-fmt, cargo-clippy, cargo-test, eslint, prettier, tsc

feat: add Phase 4 Transport protocol trait abstraction (Task 4.1.1)
  TODO.md
  crates/transport/src/lib.rs
  crates/transport/src/protocol.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

fix: WSL Linux環境でビルド可能に変更 & テスト修正
  crates/transport/src/fec.rs
  crates/transport/src/retry.rs
  crates/transport/src/wfq.rs
  crates/transport/tests/proptest.proptest-regressions
  crates/transport/tests/proptest.rs
  rust-toolchain.toml
Due: cargo-fmt, cargo-clippy, cargo-test

docs: Task 4.1.1完了をTODO.mdに記録
  TODO.md
Due: prettier

feat: add QUIC transport implementation (Task 4.2.1)
  crates/transport/Cargo.toml
  crates/transport/src/lib.rs
  crates/transport/src/quic.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny

docs: mark Task 4.2.1 (QUIC Backend) as complete
  TODO.md
Due: prettier

Task 4.3.1: WebRTC stub implementation
  crates/transport/Cargo.toml
  crates/transport/src/lib.rs
  crates/transport/src/webrtc.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny

Update TODO.md: Task 4.3.1 complete (WebRTC stub), Phase 4 progress 67%
  TODO.md
Due: prettier

feat: Task 4.4.1 Transport Manager implementation
  crates/transport/Cargo.toml
  crates/transport/src/lib.rs
  crates/transport/src/manager.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny

docs: Update TODO.md - Phase 4 complete (100%)
  TODO.md
Due: prettier

feat: Task 5.1.1 QoS Scheduler integration with TransportManager
  TODO.md
  crates/qos-scheduler/Cargo.toml
  crates/qos-scheduler/src/scheduler.rs
  crates/transport/Cargo.toml
  crates/transport/src/manager.rs
  crates/transport/src/protocol.rs
  crates/transport/src/quic.rs
  crates/transport/src/webrtc.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny, prettier

feat: Task 6.1.1 Discovery+Transport integration tests
  TODO.md
  crates/transport/src/manager.rs
  crates/transport/tests/integration_discovery_transport.rs
  tests/integration_discovery_transport.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

feat: Task 6.2.1 Transport+QoS integration tests
  TODO.md
  crates/transport/tests/integration_discovery_transport.rs
  crates/transport/tests/integration_qos_transport.rs
  tests/integration_discovery_transport.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

feat: Task 6.3.1 Full-Stack E2E integration tests + Phase 6 COMPLETE
  TODO.md
  crates/transport/tests/integration_full_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier
